$primary: #014069;
$secondary: #692a01;
$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      10: 10%,
      25: 25%,
      30: 30%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      fit-content: fit-content,
    ),
  ),
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

img {
  width: 100%;
}

.profile-img {
  max-width: 400px;
}

.title-overlay-wrapper {
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  cursor: pointer;
}

.title-overlay-wrapper:hover {
  opacity: 1;
}

.title-overlay-wrapper h1 {
  font-size: 5rem;
  font-weight: 600;
  cursor: pointer;
}

.hover-zoom-button-wrapper div:last-child {
  transition: 0.3s;
  z-index: 0;
}

.hover-zoom-button-wrapper:hover div:last-child {
  transform: scale(1.2);
}

.home-button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  height: 75px;
  width: 75px;
  z-index: 50;
}

.front-end-card-wrapper {
  max-width: 936px;
}

.front-end-card-wrapper ul {
  width: 125px;
}

.error-page h1 {
  font-size: 5rem;
}

@include media-breakpoint-down(md) {
  .title-overlay-wrapper h1 {
    font-size: 3rem;
  }

  .home-button {
    bottom: 1.5rem;
    top: auto;
  }
}

@include media-breakpoint-only(xs) {
  .title-overlay-wrapper h1 {
    font-size: 2rem;
  }
}
